<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .img{
            flex: auto;
            border: 2px dotted black;
        }
    </style>
</head>
<body>
    <center><h1>404</h1></center>
    <center><h1>Enter the correct url to access web pages</h1></center>
    <center><img class='img' src ='https://allpetnews.com/wp-content/uploads/2011/08/Sad-Puppy.jpg'></center>
</body>
</html>